.form-group {
    margin: 10px
}
.d-none, #pf {
    display: none;
}
.active {
    border: 1px solid red;
}
.nav {
    display: flex;
    border-bottom: 1px solid grey;
    width: 75%;
    margin: 0 auto;
}
.align-to-row {
    width: 75%;
    margin: 25px auto;
}
.active-block {
    display: block;
}
.nav li {
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 5px auto;

}
[class="col-*"] {
    position: relative;
}
.col-md-1 {
    width: 8.33%;
}
.col-md-2 {
    width: 16.66%;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.33%;
}
.col-md-5 {
    width: 41.66%;
}
.col-md-6 {
    width: 50%;
}
.help-text {
    font-size: 8px;
    display: block;
}